# ---------- Python ----------
__pycache__/
*.py[cod]
*.log
.env
.env.*
.venv/
venv/
dist/
build/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ---------- IDE / OS ----------
.vscode/
.idea/
.DS_Store
Thumbs.db

# ---------- dbt ----------
target/
dbt_packages/
logs/
dbt.log
profiles.yml

# ---------- Airflow / Astro local state ----------
airflow.db
airflow.cfg
airflow-webserver.pid
**/airflow.db
**/airflow.cfg
**/airflow-webserver.pid
